.caixa{
    position: fixed;
    right: 0.75rem;
    bottom: 0.75rem;
    display: none;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 1;
}

.caixaOpcoesDesativado{
    display: none;
}

.caixaOpcoesAtivado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.botaoPrincipal{
    display: flex;
    background-color: #2E4C99;
    border-radius: 50%;  
    color: #fff;
    padding: 0.5rem;
    transition: 0.2s;
    font-size: 2.25rem;
    border: none;
    box-shadow: 0 0 14px #33333325;
}

.botaoSecundario{
    display: flex;
    background-color: #fff;
    border-radius: 50%;  
    color: #757575;
    padding: 0.5rem;
    transition: 0.2s;
    font-size: 1.25rem;
    border: none;
    box-shadow: 0 0 14px #33333325;
}

.botaoSecundario:hover{
    background-color: #e9e9e9;
}

@media screen and (max-width: 1024px) {
    .caixa{
        display: flex;
    }
}
