.navBar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    padding: 0.5rem;
}

.paiItens{
    display: flex;
    justify-content: space-around;
    gap: 3.5rem;
}

.item{
    display: flex;
}

.linkItem{
    color: #757575;
    text-decoration: none;
}