.searchBar{
    display: flex;
    background-color: #33333325;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 35rem;
    outline: none;
    cursor: text;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    gap: 0.5rem;
}

.searchButton{
    display: flex;
    border-right: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.searchInput{
    font-size: 1em;
    width: 100%;
    outline: none;
}

.searchButton, .searchInput{
    background-color: transparent;
    border: none;
    color: #757575;
}
