:root{
    --text-color: #757575;
    --main-title-color: rgb(51 51 51);
    --block-title-color: #0b6374;
    --background-color: #fff;
    --button-color: rgb(0 92 110);
    --round-button-color: #333c;
    --button-hover-color: #2bb8c9;
}

:root.dark{
    --text-color: #fff;
    --main-title-color: #fff;
    --block-title-color: #fff;
    --background-color: #000;
    --button-color: rgb(255 234 0);
    --round-button-color: rgb(255 234 0);
    --button-hover-color: rgb(255 234 0 / 0.8);
}

body.dark{
    background-color: #000;
}

.barraAcessibilidade{
    display: flex;
    background-color: #950202;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-inline: 2rem;
}

.caixaItens{
    display: flex;
    width: 25%;
    white-space: nowrap;
    gap: 1.5rem;
}

.item{
    color: #fff;
}

.item:hover{
    text-decoration: underline;
}

.linkItem{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .barraAcessibilidade{
        display: none;
    }    
}
