.caixa{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 3.5rem;
}

.tituloLista{
    color: #0B6374;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.itemLista{
    color: #757575;
    text-decoration: none;
}


@media screen and (max-width: 430px){
    .caixa{
        flex-direction: column;
    }
}