.caixa{
    display: flex;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    align-items: center;
    flex-direction: column;
}

.bloco{
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 0 14px #33333325;
    padding: 1.5rem;
    width: 100%;
    max-width: 18rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.tituloPrincipal{
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
}

.caixaInput{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    max-width: 37.5rem;
}

.labelPrincipal{
    font-size: 1rem;
    font-weight: bold;
}

.tituloPrincipal, .labelPrincipal{
    color: #0B6374;
}

.input{
    background-color: #33333325;
    border: none;
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    outline: none;
    color: #757575;
}

.caixaBotao{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.botao{
    background-color: transparent;
    border: 1px solid rgb(0 92 110 / 1);
    border-radius: 1rem;  
    color: rgb(0 92 110 / 1);
    padding-block: 0.375rem;
    padding-inline: 0.75rem;
    transition: 0.2s;
}

.botao:hover{
    background-color: #2BB8C9;
    border: 1px solid #2BB8C9;
    color: #fff;
}


