.caixa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    /*box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);*/
    gap: 1rem;
}

.menuHamburguer{
    display: flex;
    font-size: 1.75rem; 
    border: none;
    background-color: transparent;
    color: #757575;
    cursor: pointer;
}

.caixaFerramentas{
    display: flex;
    gap: 1rem;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    background-color: #33333325;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
}

/*@media screen and (max-width: 1024px) {
    .menuHamburguer{
        display: flex;
    }
}*/

@media screen and (max-width: 430px) {
    .menuHamburguer{
        display: flex;
    }
}
