.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.logoFatec{
    height: 4rem;
}

.logoGoverno{
    height: 4rem;
}

@media screen and (max-width: 1024px) {
    .logoFatec{
        height: 2rem;
    }
    
    .logoGoverno{
        height: 2rem;
    }
}